@import url('https://fonts.cdnfonts.com/css/caver-pitalsal');

* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: url("background_2.jpg") center center/100% 100% repeat-x;
    padding-top: 40px;
}

.wrapper .frame .app {
    width: 540px;
    background: linear-gradient(90deg, rgb(11, 99, 171), rgb(58 156 236) 50%, rgb(11, 99, 171));
    border-radius: 50px;
    display: flex;
    color: white;
    text-align: center;
    font-family: 'Caver Pitalsal', sans-serif;
}

.appFirst {
    height: 270px;
    z-index: 1;
}

.appSecond {
    height: 388px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .frame .app .infoWeather {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper .frame .app .infoDop {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .frameSecond .appSecond .forfiveDays {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 0 10% 0;
}

.wrapper .frameSecond .appSecond .forfiveDays .dayOfTheWeek {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 40px;
}

.wrapper .frameSecond .appSecond .forfiveDays .degreesOfTheWeek {
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 56px;
}

.wrapper .frameSecond .appSecond .forfiveDays .iconWeatherOfTheWeek {
    height: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .frameSecond .appSecond .forfiveDays .iconWeatherOfTheWeek img {
    width: 120px;
    height: 120px;
}

.wrapper .frameSecond .appSecond .forfiveDays .weatherCloudOfTheWeek {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
}

#cityName,
#degrees,
#dayTodey {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20%;
}

#cityName {
    font-size: 55px;
}

#degrees {
    font-size: 80px;
}

#dayTodey {
    font-size: 45px;
}

#iconWeather {
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#iconWeather img {
    width: 80%;
    height: 80%;
}

#weatherCloud {
    width: 100%;
    height: 28%;
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.askCity {
    background: #272222d6;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    opacity: 0.8;
}

.searchCity {
    width: 52%;
    height: 18%;
    background-color: #2cb4c5;
    position: absolute;
    top: 41%;
    left: 24%;
    z-index: 1;
    box-shadow: inset 50px 75px 83px #116ab3;
    border-radius: 30px 30px 30px 30px;
    border: 4px solid #4da6ee;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    width: 52%;
    height: 34%;
    position: absolute;
    border-radius: 4px;
    border: 4px solid #025774;
    background-color: rgb(7 56 73);
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    padding: 8px;
    font-weight: 600;
}

#search:focus {
    outline: none;
    border: 4px solid #9da0a3;
    background-color: rgba(255, 255, 255, 0.8);
    color: #203a52;
}

#buttonChange {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10%;
    left: 3.5%;
}

#buttonChange img {
    width: 100%;
    height: 100%;
}

.changeCity {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.inputCity {
    width: 62%;
    height: 57%;
    border-radius: 4px;
    border: 2px solid #025774;
    background-color: rgb(58 156 236);
    font-size: 24px;
    color: #203a52;
    ;
    text-transform: uppercase;
    padding: 8px;
    margin-left: 20%;
}

.inputCity:focus {
    outline: none;
    border: 2px solid #9da0a3;
    background-color: rgb(90 178 250);
    color: white;
}



.frameFirst {
    height: 283px;
}

.frameSecond {
    height: 400px;
}

.frame {
    width: 552px;
    position: relative;
    z-index: 0;
    border-radius: 60px;
    overflow: hidden;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -13px;
}

.frame::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #116ab3;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#116ab3, #116ab3), linear-gradient(#4da6ee, #4da6ee), linear-gradient(#116ab3, #116ab3), linear-gradient(#4da6ee, #4da6ee);
    animation: animFrame 4s linear infinite;
}

.frame::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: #3a9cec;
    border-radius: 50px;
}

@keyframes animFrame {
    100% {
        transform: rotate(1turn);
    }
}

@media screen and (max-width: 1024px) {
    .wrapper .frame {
        width: 82%;
    }

    .wrapper .frameFirst {
        height: 40%;
    }

    .wrapper .frame .app {
        width: 97%;
    }

    .wrapper .frame .app .infoDop {
        height: 94%;
    }

    .wrapper .frame .appFirst {
        height: 95%;
        width: 96%;
    }

    .wrapper .frame .app .infoWeather {
        width: 45%;
    }

    .wrapper .frame .app .infoDop {
        width: 55%;
    }

    #iconWeather,
    #iconWeather img {
        width: 80%;
    }

    #buttonChange {
        width: 14%;
        height: 14%;
        position: absolute;
        top: 10%;
        left: 80.5%;
    }

    #cityName {
        font-size: 48px;
    }

    .wrapper .frameSecond .appSecond .forfiveDays {
        width: 18%;
    }

    .inputCity {
        margin-left: 32%;
        margin-bottom: 14px;
        height: 36%;
        width: 200px;
    }

    .wrapper .frameSecond .appSecond .forfiveDays .iconWeatherOfTheWeek {
        height: 24%;
    }

    .wrapper .frameSecond .appSecond .forfiveDays .iconWeatherOfTheWeek img {
        width: 80px;
        height: 80px;
    }

    .searchCity {
        width: 88%;
        height: 22%;
        top: 18%;
        left: 8%;
    }

    #search {
        width: 82%;
        font-size: 16px;
    }

    #degrees {
        font-size: 50px;
        height: 38%;
    }

    #dayTodey {
        font-size: 36px;
    }

    #weatherCloud {
        font-size: 29px;
    }

    #iconWeather {
        justify-content: flex-end;
    }
    .wrapper .frameSecond .appSecond .forfiveDays .dayOfTheWeek {
        font-size: 30px;
    }
    .wrapper .frameSecond .appSecond .forfiveDays .degreesOfTheWeek {
        font-size: 42px;
    }
    .wrapper .frameSecond .appSecond .forfiveDays .weatherCloudOfTheWeek {
        font-size: 16px;
    }
}